[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
yfinance = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"
black = "*"
pylint = "*"
deepdiff = "*"
flake8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
